/* * {
    border: 2px pink solid;
} */

#calculator {
    height: 50vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #1C1C1C;
    gap: 8px;
    padding: 16px;
}

.row {
    flex: 1;
    display: flex;
    gap: 8px;
}

button {
    flex: 1;
    color: white;
    font-size: larger;
    font-weight: bold;
    background-color: #505050;
    border-radius: 100%;
    border: none;
}

.operate, .operator {
    background-color: #FF9500;
}


.display {
    flex: 0.7;
    font-size: xx-large;
    color: white;
    margin-left: auto;
    margin-top: auto;
}


button:active {
    opacity: 50%;
    /* Optional: Keep it dark for a moment after release */
    transition: opacity 0s;
}